.movie-item{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 30%;
    margin: 0 76px 60px 0;
}

.movie-item .wrapper{
    margin-top: 10px;
    align-items: center;
}

.movie-item:nth-child(3n+3){
    margin-right: 0;
}