.ReactModal__Overlay.ReactModal__Overlay--after-open{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: rgba(35, 35, 35, 0.8)!important;
    z-index: 10;
}

.ReactModal__Content.ReactModal__Content--after-open{
    position: inherit!important;
    top: auto!important;
    left: auto!important;
    right: auto!important;
    bottom: auto!important;
    padding: 40px!important;
    border: none!important;
    max-width: 800px;
    width: 80%;
    height: auto;
    background-color: #232323!important;
    
}

.modal-header h2{
    color: #ffffff;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.field-input{
    width: 100%;
    margin-top: 20px;
}

.field-input label{
    color: #E63B3B;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.field-input input{
    width: 100%;
    height: 50px;
    background-color: rgba(78, 72, 72, 0.8);
    outline: none;
    border: none;
    transition: border 0.4s;
    border-radius: 6px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 100;
    padding: 0 20px;
    margin-top: 6px;
}

.modal-footer{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.field-input input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    background-image: url("../../images/date.svg");
    background-repeat: no-repeat;
    background-position: 100% center;
    background-size: 20px;
    cursor: pointer;
}

.field-input input[type="date"]{
    color: #999999;
}

#genre{
    position: relative;
}

/* #genre::after{
    content: '';
    position: absolute;
    right: 23px;
    bottom: 17px;
    width: 30px;
    height: 15px;
    background-image: url("../../images/caret-down.svg");
    background-repeat: no-repeat;
    background-position: 100% center;
    background-size: 20px;
    cursor: pointer;
} */

.submit-modal-btn{
    height: 50px;
    min-width: 120px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E63B3B;
    border-radius: 6px;
    border: 1px solid #E63B3B;
    outline: none;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.movie-id{
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 100;
}