.search-button{
    height: 60px;
    width: 200px;
    margin-left: 20px;
    background-color: #E63B3B;
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
}