.ReactModal__Overlay.ReactModal__Overlay--after-open{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: rgba(35, 35, 35, 0.8)!important;
    z-index: 10;
}

.modal-delete.ReactModal__Content.ReactModal__Content--after-open{
    position: inherit!important;
    top: auto!important;
    left: auto!important;
    right: auto!important;
    bottom: auto!important;
    padding: 40px!important;
    border: none!important;
    max-width: 600px;
    width: 80%;
    height: auto;
    background-color: #232323!important;
    outline: none;
    
}

.modal-header h2{
    color: #ffffff;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
}

 .modal-delete .modal-content{
    margin-top: 40px;
}

.modal-delete .modal-content h3{
    color: #ffffff;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 2px;    
}


.modal-footer{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.confirm-modal-btn{
    height: 50px;
    min-width: 120px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E63B3B;
    border-radius: 6px;
    border: 1px solid #E63B3B;
    outline: none;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}