.header{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,.6) 100%), url(../../images/bg.jpg);
    min-height: 300px;
}

.header .wrapper {
    height: 100px;
    display: flex;
    align-items: center;
}

.title {
    color: #ffffff;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: 3px;
}